<div class="widgetname">
    <form>

        <h1>Beautiful Tree Bar</h1>
        <div data-dojo-attach-point="treeContainer" style="position: absolute; width: 100%; bottom: 4px;  height: 300px;">
            ASDASd
        </div>
        <div class="input-group" data-dojo-attach-point="inputNodes">
            <input type="text" class="form-control" placeholder="#rrggbb" data-dojo-attach-point="colorInputNode">
            <div class="input-group-addon"><input type="color" data-dojo-attach-point="colorSelectNode"></div>
        </div>
    </form>
    <div class="widgetname-infoTextNode" data-dojo-attach-point="infoTextNode" />


</div>
